@panelControlWidth: 20px;
@panelControlHeight: 50px;

.panelControl {
  width: @panelControlWidth;
  height: @panelControlHeight;
  position: absolute;
  background-color: #007bff;
  content: '';
  z-index: 991;
  cursor: pointer;
  border-radius: 2px;
  line-height: @panelControlHeight;
  color: white;

  &.bottom, &.top {
    left: 50%;
    margin-left: -@panelControlWidth / 2;
    transform: rotate(90deg);
  }

  &.left, &.right {
    top: 50%;
    margin-top: -@panelControlHeight / 2;
  }

  &.right {
    margin-left: -@panelControlWidth;
  }

  &.bottom {
    margin-top: -@panelControlWidth;
  }

}
